<h1> Grocery List </h1>
<ul id="sortable" >
	<% @lists.each do |list|%>
	  <li> <%= list.item %></li>
	<% end %>
</ul>
<h1>Flyer results</h1>
	<%  @lists.each do |list|%>

  	<% pro = Product.search(list.item).each %>
		<% if pro %>
			<%pro.each do |p| %>
			<p>
	  		<%= p.product.name %>
	  		<%= p.product.brand %>
	  		<%= p.product.notes %>
	  	 $<%= p.formatted_price %> per
	  		<%= p.amount %>
	  		<%= p.measure %>
	  		<%= p.store.name %>
	  	<% end %>
		<% end %>
  </p>
	<% end %>