<%= form_for @groceryitem, url: {action: "create"} do |f| %>
  <% if @groceryitem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@groceryitem.errors.count, "error") %> prohibited this groceryitem from being saved:</h2>
      <ul>
        <% @groceryitem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :item %><br />
    <%= f.text_field :item %>
  </div>

  <div class="actions">
    <%= f.submit value="Add Item"%>
  </div>
<% end %>
